:root {
    --pixel-size: 6;
}

#TamagotchiContainer {
    position: fixed; 
    display: block;
    width: 100%; 
    height: 100%; 
    top: 50px;
    left: 1000px;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0); 
    z-index: 9999; 
    cursor: pointer; 
    pointer-events: none;
    overflow: visible;
    /* transform: translate(50%, 50%); */
}

.Pixelart {
    image-rendering: pixelated;
}

.Tamagotchi {
    width: calc(32px * var(--pixel-size)) !important;
    height: calc(32px * var(--pixel-size)) !important;
    /* background: wheat; */
    overflow: hidden !important;
    position: relative;
    top: 80px;
    bottom: 0px;
    border: 2px solid blue;
}

.TamagotchiSpriteSheet {
    animation: moveSpriteSheet 1s steps(2) infinite;
    width: calc(64px * var(--pixel-size)) !important; /*The pixel size here is equal to the pixel width of the entire row*/
    position: absolute;
}

@keyframes moveSpriteSheet {
    from {
        transform: translate3d(0px, 0, 0)
    }
    to {
        transform: translate3d(-100%, 0, 0)
    }
}

.be_angry {
    top: 0;
}
.be_annoyed {
    top: calc(-32px * var(--pixel-size));
}
.be_sad {
    top: calc(-64px * var(--pixel-size));
}
.be_neutral {
    top: calc(-96px * var(--pixel-size));
}
.be_happy {
    top: calc(-128px * var(--pixel-size));
}

/* Dialogue Box Styles */
.tamagotchi-dialogue {
    visibility: visible;
    display:block;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    background-color: #ffffff !important;
    border: 2px solid #000 !important;
    border-radius: 10px;
    z-index: 9999 !important;
    pointer-events: auto !important;
    border: 2px solid red;
}

.tamagotchi-dialogue p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.tamagotchi-dialogue button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
}